body {
    font-family: sans-serif;
    background-color: green;
}

.main {
    margin: auto;
    text-align: center;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color:white;
}